@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=MonteCarlo&family=Style+Script&display=swap');
/* font-family: 'Style Script', cursive; */
/* font-family: 'MonteCarlo', cursive; */
/* font-family: 'Dancing Script', cursive; */

:root
{
  --background : rgb(15, 15, 15);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  overflow-x: hidden;
  height: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a
{
  text-decoration: none;
}